@model _1.Models.PostModel
@using _1.Models;

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}

<h1>Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    @foreach (ImageModel I in Model.Images)
    {
        <p><img src="@Url.Content(I.Path)"></p>
    }
</div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
        <a asp-action="Index">Назад</a>
    </div>
